html, body {
    height: 100vh;
    overflow:hidden;
}



* {
  -webkit-user-drag:none;
  user-drag: none;

  -moz-user-select:none;
  user-select:none;
}


.scroll {
  overflow-y:scroll;
}


#drawing {
  background-color: gray;
  height : 100vh;
  width : 100%;

  overflow:hidden;
  position:relative;
}

#drawing > * {
  position: absolute;
}

.disable-cursor {
  pointer-events:none;
}

.enable-cursor {
  pointer-events:auto;
}


.cursor-lock {
  pointer-events:none;
}

.cursor-lock * {
  cursor:inherit !important;
}


.expand {
  height:100%;
  width:100%;
}




.shrink {
  flex-shrink:1;
}

.spacing-2 > * + * {
  margin-left: 2px;
}

.spacing-4 > * + * {
  margin-left: 4px;
}

.spacing-8 > * + * {
  margin-left: 8px;
}

.spacing-16 > * + * {
  margin-left: 16px;
}

.grow {
  flex:1;
}

.grow-1 {
  flex:1;
}

.grow-2 {
  flex:2;
}

.grow-3 {
  flex:3;
}

.grow-4 {
  flex:4;
}

.grow-5 {
  flex:5;
}


.brush {
  stroke: black;
  fill: blue;
  vector-effect: non-scaling-stroke;
  fill-opacity: 0.4;
}

.object {
  stroke: black;
  fill: blue;
  vector-effect: non-scaling-stroke;
  fill-opacity: 0.4;
}

.object:hover {
  .fill-opacity:0.6;
  stroke-width:2;
}

.selected {
  stroke-width:2;
}


.outline {
  vector-effect: non-scaling-stroke;

  fill:blue;
  fill-opacity: 0.1;

  stroke: black;
  stroke-width:2;
  stroke-dasharray: 5, 5;
}




.dropup > .dropdown-menu {
  position:absolute;
  transform:translate(0px, -100%);
  top:0px;
  right:0px;
}
