html, body {
    height: 100vh;
    overflow:hidden;
}



* {
  -webkit-user-drag:none;
  -moz-user-drag:none;
  user-drag: none;

  -moz-user-select:none;
  user-select:none;
}


.scroll-grow {
  overflow-y:auto;
  flex: 1 1 0;
}


.scene {
  background-color: gray;
  overflow:hidden;
  position:relative;
}

.scene > * {
  position: absolute;
  user-drag: none;

}




/* .tab-content {
  overflow:hidden;
  position:relative;
}

.tab-content > * {
  position: absolute;
} */



.disable-cursor {
  pointer-events:none;
}

.enable-cursor {
  pointer-events:auto;
}


.cursor-lock {
  pointer-events:none;
}

.cursor-lock * {
  cursor:inherit !important;
}


.expand {
  height:100%;
  width:100%;
}




.shrink {
  flex-shrink:1;
}

.neg-v-spacing-1 > * + * {
  margin-top: -2px;
}

.neg-v-spacing-2 > * + * {
  margin-top: -4px;
}

.neg-v-spacing-3 > * + * {
  margin-top: -8px;
}

.neg-v-spacing-4 > * + * {
  margin-top: -16px;
}

.v-spacing-0 > * + * {
  margin-top: 0px;
}

.v-spacing-1 > * + * {
  margin-top: 2px;
}

.v-spacing-2 > * + * {
  margin-top: 4px;
}

.v-spacing-3 > * + * {
  margin-top: 8px;
}

.v-spacing-4 > * + * {
  margin-top: 16px;
}




.spacing-0 > * + * {
  margin-left: 0px;
}


.spacing-1 > * + * {
  margin-left: 2px;
}

.spacing-2 > * + * {
  margin-left: 4px;
}

.spacing-3 > * + * {
  margin-left: 8px;
}

.spacing-4 > * + * {
  margin-left: 16px;
}

.grow {
  flex:1;
}

.grow-1 {
  flex:1;
}

.grow-2 {
  flex:2;
}

.grow-3 {
  flex:3;
}

.grow-4 {
  flex:4;
}

.grow-5 {
  flex:5;
}


.brush {
  stroke: black;
  fill: blue;
  vector-effect: non-scaling-stroke;
  fill-opacity: 0.4;

  stroke-width:2;
}


#control {
  vector-effect: non-scaling-stroke;
  
  fill:black;
  stroke: black;

  pointer-events:all;
}

.annotation:hover .control {
  fill-opacity: 0.4;
}


.control {
  fill-opacity: 0.0;
  stroke-opacity: 0.0;
}

.selected .control {
  stroke-width:2;

  stroke-opacity: 1.0;
  fill-opacity: 0.4;
}


.selected {
  fill-opacity: 0.3;
  z-index: 1;
}

.shape {
  vector-effect: non-scaling-stroke;

  stroke-width:2;
  pointer-events: all;

}


.preload {
  width:1px; 
  height:1px; 
  /* visibility:hidden;  */
  overflow:hidden
}

.progress-bar {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}​


.marginal {
  stroke-dasharray: 5, 5;
}


.shadow {
  fill-opacity: 0.3;
}

.outline {
  vector-effect: non-scaling-stroke;
  fill-opacity: 0.3;

  stroke: black;
  stroke-width:2;
  stroke-dasharray: 5, 5;
}

.dotted {
  vector-effect: non-scaling-stroke;

  stroke: black;
  stroke-width:2;
  stroke-dasharray: 5, 5;
}


.dropup > .dropdown-menu {
  position:absolute;
  transform:translate(0px, -100%);
  top:0px;
  right:0px;
}


.sidebar {
  position: relative;
  width:900px;
  overflow: visible;

  transition-duration: .3s;
}

.detection-bar {
  width:300px;
}

.sidebar.closed {
  margin-left: -860px;
}

.toggler {
  position: absolute;
  top: 0px;
  right: -8px;
  z-index:2;

}
