html, body {
    height: 100vh;
    overflow:hidden;
}



* {
  -webkit-user-drag:none;
  -moz-user-drag:none;
  user-drag: none;

  -moz-user-select:none;
  user-select:none;
}


.scroll-grow {
  overflow-y:auto;
  flex: 1 1 0;
}


.scene {
  background-color: gray;
  overflow:hidden;
  position:relative;
}

.scene > * {
  position: absolute;
  user-drag: none;

}




/* .tab-content {
  overflow:hidden;
  position:relative;
}

.tab-content > * {
  position: absolute;
} */



.disable-cursor {
  pointer-events:none;
}

.enable-cursor {
  pointer-events:auto;
}


.cursor-lock {
  pointer-events:none;
}

.cursor-lock * {
  cursor:inherit !important;
}


.expand {
  height:100%;
  width:100%;
}




.shrink {
  flex-shrink:1;
}

.neg-v-spacing-1 > * + * {
  margin-top: -2px;
}

.neg-v-spacing-2 > * + * {
  margin-top: -4px;
}

.neg-v-spacing-3 > * + * {
  margin-top: -8px;
}

.neg-v-spacing-4 > * + * {
  margin-top: -16px;
}

.v-spacing-0 > * + * {
  margin-top: 0px;
}

.v-spacing-1 > * + * {
  margin-top: 2px;
}

.v-spacing-2 > * + * {
  margin-top: 4px;
}

.v-spacing-3 > * + * {
  margin-top: 8px;
}

.v-spacing-4 > * + * {
  margin-top: 16px;
}




.spacing-0 > * + * {
  margin-left: 0px;
}


.spacing-1 > * + * {
  margin-left: 2px;
}

.spacing-2 > * + * {
  margin-left: 4px;
}

.spacing-3 > * + * {
  margin-left: 8px;
}

.spacing-4 > * + * {
  margin-left: 16px;
}

.grow {
  flex:1;
}

.grow-1 {
  flex:1;
}

.grow-2 {
  flex:2;
}

.grow-3 {
  flex:3;
}

.grow-4 {
  flex:4;
}

.grow-5 {
  flex:5;
}


.control {
  stroke: black;
  fill: none;
  vector-effect: non-scaling-stroke;
  stroke-width:2;
}


.brush {
  stroke: black;
  fill: blue;
  vector-effect: non-scaling-stroke;
  fill-opacity: 0.4;
  
  stroke-width:2;
}

.annotation {
  stroke: black;
  vector-effect: non-scaling-stroke;
  fill-opacity: 0.4;
}

.annotation:hover {
  .fill-opacity:0.6;
  stroke-width:2;
}

.selected {
  stroke-width:2;
}


.outline {
  vector-effect: non-scaling-stroke;

  fill-opacity: 0.1;

  stroke: black;
  stroke-width:2;
  stroke-dasharray: 5, 5;
}




.dropup > .dropdown-menu {
  position:absolute;
  transform:translate(0px, -100%);
  top:0px;
  right:0px;
}


.sidebar {
  position: relative;
  width:800px;
  overflow: visible; 
  
  transition-duration: .3s;  
}
 
.sidebar.closed {
  margin-left: -760px;
}
 
.toggler {
  position: absolute;
  top: 0px;
  right: -8px;
  z-index:2;

}